
@{
    ViewBag.Title = "Create Account";
}
@Styles.Render("~/Content/LandingPage.css")
<!DOCTYPE html>
<html>
  
    <head>
        <meta name="viewport" content="width=device.width" />
    </head>
    <body>
                <form class="text-center border border-light p-5">
                    <p class="h4 mb-4">Sign Up</p>

                    <input class="form-control" id="materialRegisterFormFirstName" type="text">
                    <label for="materialRegisterFormFirstName">First name</label>

                    <input class="form-control" id="materialRegisterFormLastName" type="email">
                    <label for="materialRegisterFormLastName">Last name</label>

                    <input class="form-control" id="materialRegisterFormEmail" type="email">
                    <label for="materialRegisterFormEmail">E-mail</label>

                    <label for="input">Username</label>
                    <input class="form-control" id="input" type="text" placeholder="">

                    <input class="form-control" id="materialRegisterFormPassword" aria-describedby="materialRegisterFormPasswordHelpBlock" type="password">
                    <label for="materialRegisterFormPassword">Password</label>

                    <small class="form-text text-muted mb-4" id="materialRegisterFormPasswordHelpBlock">
                        At least 8 characters and 1 digit
                    </small>

                    <label for="passwInput">Confirm Password</label>
                    <input class="form-control" id="passwInput" type="password" placeholder="">

                    <input class="form-control" id="materialRegisterFormPhone" aria-describedby="materialRegisterFormPhoneHelpBlock" type="password">
                    <label for="materialRegisterFormPhone">Phone number</label>

                    <small class="form-text text-muted mb-4" id="materialRegisterFormPhoneHelpBlock">
                        Optional - for two step authentication
                    </small>

                    <div>
                        <select class="mdb-select md-form mb-4 initialized" id="select">
                            <option value="" disabled selected>Security Question 1</option>
                            <option value="1">Mothers madien name</option>
                            <option value="2">High school mascot</option>
                            <option value="3">Name of first pet</option>
                            <option value="3">Fathers middle name</option>
                        </select>
                    </div>

                    <div>
                        <select class="mdb-select md-form mb-4 initialized" id="select">
                            <option value="" disabled selected>Security Question 2</option>
                            <option value="1">Mothers madien name</option>
                            <option value="2">High school mascot</option>
                            <option value="3">Name of first pet</option>
                            <option value="3">Fathers middle name</option>
                        </select>
                    </div>

                    <div>
                        <select class="mdb-select md-form mb-4 initialized" id="select">
                            <option value="" disabled selected>Security Question 3</option>
                            <option value="1">Mothers madien name</option>
                            <option value="2">High school mascot</option>
                            <option value="3">Name of first pet</option>
                            <option value="3">Fathers middle name</option>
                        </select>
                    </div>

                    
                    <!--Sign up button-->
                    <button class="btn btn-info btn-block"type="submit">Sign Up</button>

                  

                </form>   
    </body>
<</html>>




































































































    <h2>Index</h2>

