@{
    ViewBag.Title = "Home Page";
}
<!-- Jumbotron -->
<body>
    @Styles.Render("~/Content/LandingPage.css")

    <div class="jumbotron text-center blue-grey lighten-5">

        <!-- Title -->
        <h2 class="card-title h2">Welcome to Study Buddy</h2>
        <!-- Subtitle -->
        <p class="indigo-text my-4 font-weight-bold">An innovative way to help the everday student understand course material </p>

        <!-- Grid row -->
        <div class="row d-flex justify-content-center">

            <!-- Grid column -->
            <div class="col-xl-7 pb-2">

                <p class="card-text"> fugit consequatur ducimus obcaecati numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="my-4 pb-2">

        <div class="pt-2">
            <p><a class="btn btn-blue-light">Create Account </a></p>
            <p><a class="btn btn-blue-light">Login</a></p>
        </div>

    </div>
</body>
<!-- Jumbotron -->