@{
    ViewBag.Title = "Home Page";
}
<!-- Jumbotron -->
<div class="jumbotron text-center">

    <!-- Title -->
    <h2 class="card-title h2">Welcome to Study Buddy</h2>
    <!-- Subtitle -->
    <p class="blue-text my-4 font-weight-bold">An innovative way to help the everday student understand course material </p>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-7 pb-2">

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.</p>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-4">

    <div class="pt-2">
        <button type="button" class="btn btn-blue waves-effect">Create Account <span class="fa fa-diamond ml-1"></span></button>
        <button type="button" class="btn btn-outline-primary waves-effect">Login <i class="fa fa-download ml-1"></i></button>
    </div>

</div>
<!-- Jumbotron -->