@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Study Helper</h2>
        <p>
            Study Helper is a web application that helps the student understand course 
            material that may not be easily understood intially.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Create an Account</h2>
        <p>What are you waiting on??? Create your own account and get started now!!!</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Already have an account?</h2>
        <p>Time is ticking away. Log in and continue your learning path.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>