
body {
    background-image: url("/Images/studyhelperbackground.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:center top;
    background-size:cover
}
h1{
    color: azure;
    text-align: center;
    font-weight:bold;
    text-shadow: 2px 2px 3px #000000;
}
h2 {
    color: azure;
    text-align: center;
    font-weight: bold;
    text-shadow:2px 2px 3px #000000;
}